<mat-card class="film-card" style="border: white 1px solid;">
  <mat-card-header>
    <mat-card-title>{{ film.title }}</mat-card-title>
    <mat-card-subtitle>Estreno: {{ film.release_date | date:'longDate' }}</mat-card-subtitle>
  </mat-card-header>
  <br>
  <img mat-card-image [src]="film.poster_path ? 'https://image.tmdb.org/t/p/w500' + film.poster_path : 'assets/no-image.png'" [alt]="film.title">
  <br>
  <mat-card-content>
    <p><strong>Puntuación:</strong> {{ film.vote_average }} ({{ film.vote_count }} votos)</p>
    <p><strong>Popularidad:</strong> {{ film.popularity | number }}</p>

    <mat-chip-listbox>
      <mat-chip *ngFor="let genre of film.genres">{{ genre.name }}</mat-chip>
    </mat-chip-listbox>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions>
      <button mat-button mat-raised color="primary" [routerLink]="['/films', film.id]">
          <mat-icon>more_horiz</mat-icon>
          Detalles
      </button>
  </mat-card-actions>
</mat-card>
