<mat-card class="film-card">
  <mat-card-header>
    <mat-card-title>{{ film.title }}</mat-card-title>
    <mat-card-subtitle>Estreno: {{ film.release_date | date:'longDate' }}</mat-card-subtitle>
  </mat-card-header>
  <br>
  <img mat-card-image [src]="film.poster_path ? 'https://image.tmdb.org/t/p/w500' + film.poster_path : 'assets/images/no-image.jpg'" [alt]="film.title">
  <br>
  <mat-card-content>
    <p><strong>Puntuación:</strong> {{ film.vote_average }} ({{ film.vote_count }} votos)</p>
    <p><strong>Popularidad:</strong> {{ film.popularity }}</p>

    <mat-list>
      <mat-chip *ngFor="let genre of genres" [value]="genre.id">
        {{ genre.name }}
      </mat-chip>
    </mat-list>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions>
      <button mat-button mat-raised color="primary" [routerLink]="['/films', film.id]">
          <mat-icon>more_horiz</mat-icon>
          Detalles
      </button>
  </mat-card-actions>
</mat-card>
