<mat-sidenav-container fullscreen class="container">

  <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '250px'}">
    <mat-toolbar color="warn">
      <span>Menú</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item *ngFor="let item of opcionesSidebar" [routerLink]="item.url" (click)="sidenav.toggle()">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        {{ item.label }}                  <!--El icono de la opción-->
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <span *ngIf="usuario">Bienvenido, {{ usuario }}</span>
    <span class="spacer"></span>
    <button mat-button (click)="onLogout()">
      Cerrar sesion
    </button>
  </mat-toolbar>

  <div class="container p-2">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>

