<div>
  <h3>Buscador de Películas</h3>

  <!-- Buscador de películas -->
  <mat-form-field class="container">
    <mat-label>Busca tu película favorita</mat-label>
    <input type="text"
      matInput [formControl]="searchInput"
      (input)="searchFilms()"
      [matAutocomplete]="auto"/>
  </mat-form-field>

  <!-- Autocompletado para las películas -->
  <mat-autocomplete autoActiveFirstOption
    #auto="matAutocomplete"
    (optionSelected)="onSelectedOption($event)">
    <mat-option *ngFor="let film of films" [value]="film">
      {{ film.title }}
    </mat-option>


    <!-- Mensaje cuando no se encuentran películas -->
    <mat-option *ngIf="films.length === 0 && searchInput.value" value="">
        No se encontró ninguna película con ese nombre "{{ searchInput.value }}"
    </mat-option>
  </mat-autocomplete>


  <!-- Filtro de selección multiple por géneros -->
  <mat-form-field class="container">
    <mat-label>Selecciona los géneros</mat-label>
    <mat-select (selectionChange)="onCategoryChange($event)" multiple><!--Cada vez que se cambian los géneros se llama al buscador de películas-->
      <mat-option *ngFor="let genre of genres" [value]="genre.id">
        {{ genre.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Filtro de favoritos -->
  <mat-form-field class="container">
    <mat-label>Filtrar por favoritos</mat-label>
    <mat-select [(value)]="favoriteFilter" (selectionChange)="searchFilms()">
      <mat-option value="TODAS">Todas</mat-option>
      <mat-option value="SI">Favoritas</mat-option>
      <mat-option value="NO">No favoritas</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-divider></mat-divider>

  <div *ngIf="films.length > 0" class="grid">
    <div *ngFor="let film of films">
      <film-card [film]="film"></film-card>
    </div>
  </div>
</div>
