<div class="flex flex-column p-2">

  <h3>Buscador de Películas</h3>

  <!-- Buscador de películas -->
  <mat-form-field>
    <mat-label>Busca tu película favorita</mat-label>
    <input type="text"
      matInput [formControl]="searchInput"
      (input)="searchFilms()"
      [matAutocomplete]="auto"/>
  </mat-form-field>

  <!-- Autocompletado para las películas -->
  <mat-autocomplete autoActiveFirstOption
    #auto="matAutocomplete"
    (optionSelected)="onSelectedOption($event)">
    <mat-option *ngFor="let film of films" [value]="film">
      {{ film.title }}
    </mat-option>


    <!-- Mensaje cuando no se encuentran películas -->
    <mat-option *ngIf="films.length === 0 && searchInput.value" value="">
        No se encontró ninguna película con ese nombre "{{ searchInput.value }}"
    </mat-option>
  </mat-autocomplete>


  <!-- Filtro por géneros -->
  <mat-form-field>
    <mat-label>Selecciona los géneros</mat-label>
    <mat-select (selectionChange)="onCategoryChange($event)" multiple>
      <mat-option *ngFor="let genre of genres" [value]="genre.id">
        {{ genre.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Filtro de favoritos (SI, NO, TODAS) -->
  <mat-form-field>
    <mat-label>Filtrar por favoritos</mat-label>
    <mat-select [(value)]="favoriteFilter" (selectionChange)="searchFilms()">
      <mat-option value="TODAS">Todas</mat-option>
      <mat-option value="SI">Favoritas</mat-option>
      <mat-option value="NO">No favoritas</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Mostrar las películas encontradas -->
  <div *ngIf="films.length > 0" class="grid mb-8">
    <div *ngFor="let film of films" class="col-12 sm:col-4 md:col-3 xl:col-2">
      <film-card [film]="film"></film-card>
    </div>
  </div>
</div>
