<div class="usuarios-container">
  <div class="usuarios-header">
    <h2>Gestión de Usuarios</h2>
    <button mat-raised-button color="primary" (click)="addUsuario()">
      <mat-icon>person_add</mat-icon> Crear Usuario
    </button>
  </div>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id_usuario">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let usuario"> {{ usuario.id_usuario }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="usuario">
      <mat-header-cell *matHeaderCellDef> Usuario </mat-header-cell>
      <mat-cell *matCellDef="let usuario"> {{ usuario.usuario }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombre_publico">
      <mat-header-cell *matHeaderCellDef> Nombre Público </mat-header-cell>
      <mat-cell *matCellDef="let usuario"> {{ usuario.nombre_publico }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="rol">
      <mat-header-cell *matHeaderCellDef> Rol </mat-header-cell>
      <mat-cell *matCellDef="let usuario"> {{ usuario.rol }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="habilitado">
      <mat-header-cell *matHeaderCellDef> Habilitado </mat-header-cell>
      <mat-cell *matCellDef="let usuario">
        <mat-slide-toggle
          [checked]="usuario.habilitado == '1'"
          (change)="toggleHabilitado(usuario)">
        </mat-slide-toggle>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="api_movies">
      <mat-header-cell *matHeaderCellDef> API Berarer de TMDB </mat-header-cell>
      <mat-cell *matCellDef="let usuario"> {{ usuario.api_movies }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let usuario">
        <button mat-icon-button color="accent" (click)="editUsuario(usuario)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteUsuario(usuario)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>


</div>
